.wrapper{
    position: relative;
    background-color: $wrapper-bg;
    .main-header{
        .navbar-nav{
            .nav-link{
                color: $dark;
                font-family: $font-family-primary;
                font-weight: $font-weight-medium;
                &.active{
                    color: $primary;
                }
                @include media-breakpoint-only(xl) {
                    font-size: $font-size-14;
                }

            }
        }
        .user-img{
            width: 2.188rem;
            height: 2.188rem;
        }
        .bell-icon{
            width: 2.4rem;
            height: 2.4rem;
            img{
                max-width: 1.2rem;
            }
        }
        .logo-img{
            max-width: 8rem;
        }
        .navbar-toggler{
            width: 1rem;
            height: 1.6rem;
        }
    }
    .main-sidebar{
        position: fixed;
        height: calc(100vh - 2rem);
        min-height: calc(100% - 2rem);
        box-shadow: $box-shadow;
        top: 1rem;
        left: 1rem;
        bottom: 1rem;
        width: 16.25rem; 
        z-index: 1038;
        margin-left: 0;
        overflow: hidden;
        @include transition(margin-left .3s ease-in-out);
        .brand-link{
            height: 5rem;
            .logo-img{
                max-width: 10rem;
            }
        }
        .sidebar-nav{
            height: calc(100% - 5rem);
            overflow-y: auto;
            .nav-item {
            .nav-link{
                padding: 0.75rem 1rem;
                color: $dark;
                border-radius: $border-radius-xl;
                position: relative;
                img{
                    max-width: 1.625rem;
                }
                &.active{
                    @include gradientCustom(to right, $list1);
                    color: $white;
                    padding-right: 2rem;;
                   img{
                    -webkit-filter: brightness(0) invert(1);
                    filter: brightness(0) invert(1);
                   }
                   &::after{
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    font-family: "Font Awesome 6 Free"; 
                    font-weight: 900; 
                    content: "\f178";
                    position: absolute;
                    right: 1.2rem;
                   }
                }
            }
         }
        }
    }
    .content-wrapper{ 
        overflow: hidden; 
        height: 100vh;
        min-height: 100%;
        overflow: auto;
        margin-left: 18rem; 
        @include transition(margin-left .3s ease-in-out);
    }
}

@include media-breakpoint-down(xl) { 
    .content-wrapper{
        .main-header{
            .top-nav-header{
                position: absolute;
                background-color: $white;
                border-radius: $border-radius-xl;
                box-shadow: $box-shadow;
                left: 0;
                right: 0;
                top: 2.5rem;
                z-index: 99;
                padding: 1rem 1.2rem;
               width: 16rem;
            }
        }
    }
}

@include media-breakpoint-down(lg) { 
   .wrapper {
    .main-sidebar{
        margin-left: -18rem;
        left: 0;
        right: 0;
    }
    .content-wrapper{
        margin-left: 0;
        .main-header{
            background-color:tint-color($primary, 85%);
        }
    }
   }
   .sidebar-expanded {
    .wrapper {
        .main-sidebar{
            margin-left: 0;
        }
    }
   }
 }