html, body{ height: 100%;}
.cursor-pe{ cursor: pointer !important;}
a{ text-decoration: none;}
a:focus{outline: none !important;}
//fonts
@font-face {
    font-family: 'Milliard';
    src: url('../fonts/Milliard-Medium.eot');
    src: url('../fonts/Milliard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Milliard-Medium.woff2') format('woff2'),
        url('../fonts/Milliard-Medium.woff') format('woff'),
        url('../fonts/Milliard-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Milliard Book';
    src: url('../fonts/Milliard-Book.eot');
    src: url('../fonts/Milliard-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Milliard-Book.woff2') format('woff2'),
        url('../fonts/Milliard-Book.woff') format('woff'),
        url('../fonts/Milliard-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Milliard';
    src: url('../fonts/Milliard-SemiBold.eot');
    src: url('../fonts/Milliard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Milliard-SemiBold.woff2') format('woff2'),
        url('../fonts/Milliard-SemiBold.woff') format('woff'),
        url('../fonts/Milliard-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
.fw-medium{ font-weight: $font-weight-medium !important;}
.ff-primary{ font-family: $font-family-primary !important;}

//z-index classes
.z-index{
    &-1{
        z-index: 1 !important;
    }
    &-2{
        z-index: 2 !important;
    }
    &-3{
        z-index: 3 !important;
    }
}
//images
.img-box{background: {size: cover !important;repeat: no-repeat !important;position: center !important;}}
.img-contain{ background-size: contain !important;}
.bg-bottom{ background-position: bottom !important;}
.object-fit-contain{ object-fit: contain !important;}
.object-fit-cover{ object-fit: cover !important;}
.object-position-top{ object-position: top !important;}

//background
.bg-light-secondary{
    background-color: $light-secondary !important;
}

//nav custom
.nav-pills-custom{
    .nav-link{
        color: rgba($dark, .6);
        font-family: $font-family-primary;
        font-weight: $font-weight-medium;
        border-bottom: 2px solid transparent;
        border-radius: 0;
        &.active{
            background-color: transparent;
            color: $primary;
            border-color: $primary;
        }
    }
}

//buttons and border
.rounded-end-0{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.rounded-start-0{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.border-dotted{
    border-style: dotted !important;
}
.btn-md{
    min-width: 12em;
}
.btn-small{
    min-width: 8rem;
}
.btn-group-custom{
    label{
        max-width: 2.8rem;
        color: rgba($dark, .6);
        border-color: rgba($dark, .4);
    }
}
//dropdown
.dropdown-arrow-none{
 &::after{
     display: none;
 }
}

//width and height classes
.w-9{ width: 9rem;}
.icon-size{width: 3rem;height: 2.6rem;}
.wh-40{ width: 2.5rem; height: 2.5rem;}

//form
select{
    -webkit-appearance:none;
}
label{
    font-family: $form-label-font-family;
}
.form-check-lg{
    .form-check-input{
        width: 1.3em;
        height: 1.3em;
        margin-top: 0em;
    }
}
/* Clearable text inputs */
.clearable{
    position: relative;
    display: inline-block;
    input[type=text]{
        padding-right: 24px;
        width: 100%;
        box-sizing: border-box;
        &::-ms-clear {  /* Remove IE default X */
            display: none;
          }
      }
      .clearable__clear{
        display: none;
        position: absolute;
        right:0; 
        top:0.5rem;
        padding: 0 8px;
        font-style: normal;
        font-size: 1.2em;
        user-select: none;
        cursor: pointer;
      }
  }

//data table custom
.dataTable--custom {
    .table-wrapup:nth-child(1) {
        .col-md-6{
            width: auto;
        }
    }
    .table-wrapup:nth-child(2) {
        margin: 0;
        width: 100%;
        overflow: auto;
        position: relative;
        .col-sm-12{
            padding:0;
        }
    }
}
.dataTable--custom{
   .table{
    border-collapse: separate !important;
    border-spacing: 0 0.5rem !important;
    thead{
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        margin-bottom: 2rem;
        .sorting::before, .sorting_asc::before,
        .sorting::after, .sorting_asc::after{
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font: var(--fa-font-solid);
            font-size: .75rem;
        }
        .sorting::before, .sorting_asc::before{
            content: '\f30c' !important;     
            bottom: 1.6em !important;
            right: .3rem;       
        }
        .sorting::after, .sorting_asc::after{
            content: '\f309' !important;
            right: 0.8rem !important;
            top: 1.9em !important;
        }
    }
    tbody{
        &:before {
            content:"@";
            display:block;
            line-height:5px;
            text-indent:-99999px;
        }
    }
    tr{
        th, td{
            font-size: $font-size-14;
            vertical-align: middle;
        }
        th{
            font-family: $font-family-primary;
            background-color: $white;
            white-space: nowrap;
            font-weight: $font-weight-medium;
            padding-left: 1rem !important;
            border:0;
            padding: 1rem 0.5rem;
            &:first-child{
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }
             &:last-child{
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }
        }
        td{
            padding: 0.5rem 1rem;
            border-top: 1px solid $light !important;
            border-bottom: 1px solid $light;
            &:first-child{
                border-left: 1px solid $light;
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }
             &:last-child{
                border-right: 1px solid $light;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }
        }
    }
   }
   .dataTables_paginate .pagination{
    li{
        &:not(:last-child){
         margin-right: .5rem;
        }
        .page-link{
            border-radius: $border-radius-lg;
            padding: 0.25rem 0.7rem;
            font-size: $font-size-15;
        }
    }
  }
  .dataTables_info{
      padding-top: 0.5rem !important;
      font-size: $font-size-14;
  }
}

// Intel Tel overwrite css
.intl-tel-input { 
	display: block;
	position: relative;
	&::before{
		content: "";
		height: 60%;
		width: 1px;
		background-color: $gray-400;
		position: absolute;
		left: 5.75rem;
		top: 20%;
		z-index: 1;
	}
	&.separate-dial-code .selected-flag, .selected-flag:hover{
		background-color: transparent !important;
	}
	&.separate-dial-code.allow-dropdown input{
		padding-left: 6.875rem !important;
	}

}